<div class="pure-g">
	<div class="pure-u-24-24">
		<h1>Smart Closet</h1>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1-4">
    	<img id="131-115-245-117-112" class="present" width="300" src="/images/polo-zara.jpg">
    </div>
    <div class="pure-u-1-4">
    	<img id="180-99-51-208-52" class="present" width="300" src="/images/chaqueta-zara.jpg">
    </div>
    <div class="pure-u-1-4">
    	<img id="67-58-231-117-235" class="present" width="300" src="/images/pantalones-zara.jpg">
    </div>
    <div class="pure-u-1-4">
    	<img id="132-131-12-227-232" class="present" width="300" src="/images/zapatos-vono.jpg">
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-24-24">
        <h1></h1>
    </div>
</div>